body{
    background-color: #393E46;
    text-align: center;
}

.container{
    color: #4ECCA3;
    margin: auto;
    width: 80%;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin: 30px;
    text-shadow: 5px 0 #232931;
}

.player-1,.player-2{
    display: inline-block;
    font-family:'Indie Flower', cursive;
    font-size: 2rem;
    margin:10px;
}

.dice{
    width: 70%;
}

footer{
    color: #EEEEEE;
    font-family:'Indie Flower', cursive;
    font-size: 1.2rem;
    margin-top:5%;
}